<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/assets/images/logosit.png" alt="VitaVault Logo" class="logo-icon">
      <span class="logo-text">VitaVault</span>
    </div>
    
    <nav class="nav">
      <a href="#" class="nav-link">Comment ça marche</a>
      <a href="#" class="nav-link">Sécurité</a>
      <a href="#" class="nav-link">Contact</a>
    </nav>
    
    <button class="login-btn" (click)="navigateToLogin()">Connexion</button>
  </div>
</header>
